@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
  --foreground: black;
  --background: rgb(243, 243, 243);

  --b1: #29253b;
  --b2: #e5d9ca;
  --b3: #5799bf;
  --b4: #e85042;

}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
} */

body {
  color: var(--foreground);
  background-color: var(--background);
  padding-top: 70px;
  font-family: 'Lato', sans-serif;
  line-height:  1.5rem;
}

.navbar {
  background-color: var(--b1);
}
.navbar-brand {
  display: flex;
  align-items: center;
  font-weight: 600;
}
.navbar-brand img {
  margin-right: 10px;
}

.main-container {
  height: calc(100vh - 70px);
}

.long {
  background-color: var(--b4);

  background: linear-gradient(43deg, rgba(215,79,66,1) 0%, rgba(232,80,66,1) 100%);
}

.short {
  background-color: var(--b1);

  background: linear-gradient(0deg, rgba(33,30,43,1) 0%, rgba(41,37,59,1) 100%);
}

.button-main {
  color: white;
  background-color: var(--b4);
  border: none;
  padding: 0.5rem 1rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

input, select {
  outline: 0px;
  border: none;
  border-radius: 0.3rem;
  height: 2.5rem;
  padding: 0.5rem;
  margin-top: 0.8rem;
}

label {
  height: 1rem;
}

.col-b4 {
  color: var(--b4);
}

.icon {
  height: 13px;
}
.list-item {
  display: block;
  margin-left: 0.5rem;
  height: 1.25rem;
}

.street {
  display: inline-block;

}
.street0 {
  animation: street0 1s linear both infinite;
}

@keyframes street0 {
  0% {
    opacity: 40%;
    transform: translateX(0px);
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 40%;
      transform: translateX(250px);
  }
}
.street1 {
  animation: street1 1s linear both infinite 0.25s;
}

@keyframes street1 {
  0% {
    opacity: 40%;
    transform: translateX(-80px);
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 40%;
      transform: translateX(170px);
  }
}
.street2 {
  animation: street2 1s linear both infinite 0.5s;
}

@keyframes street2 {
  0% {
    opacity: 40%;
    transform: translateX(-160px);
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 40%;
      transform: translateX(90px);
  }
}
.street3 {
  animation: street3 1s linear both infinite 0.75s;
}

@keyframes street3 {
  0% {
    opacity: 40%;
    transform: translateX(-240px);
  }
  50% {
    opacity: 100%;
  }
  100% {
      opacity: 40%;
      transform: translateX(10px);
  }
}

.car {
  margin-left: 20%;
  margin-right: 50%;
  opacity: 80%;
  animation: car 2s ease-in-out forwards infinite;
}
@keyframes car {
  0% {
    transform: rotate(-3deg) translateY(-12px);
  }

  50% {
    transform: rotate(3deg) translateY(12px);

  }
  100% {
    transform: rotate(-3deg) translateY(-12px);
  }
}

#aboutUs {

}

#aboutUs h1 {
  color: var(--b4);
}

.step-number {
  color: white;
  background-color:rgb(191, 191, 191);
  display: inline-block;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  text-align: center;
  line-height: 1rem;
  font-size: .75rem;
}

.step-number-done {
  background-color: var(--b3)
}
.step-number-selected {
  background-color: var(--b4);
}

.step {
  border-bottom: 5px solid rgb(191, 191, 191);
  border-left: 1px solid #bfbfc0;
  padding: 0.5rem  1rem 0.5rem 1rem;
}

.step-selected {
  border-bottom: 5px solid var(--b4);
}

form input, select, textarea {
  background-color: var(--background);
  border: solid ;
  border-width: 0.01rem;
  border-color: lightgray;
  margin: 0.2rem;
  margin-left: 0.075rem;
}





.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
}

.arrows path {
  stroke: #2994D1;
  fill: transparent;
  stroke-width: 1px;  
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
  animation-delay:-1s;
  -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay:-0.5s;
  -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 { 
  animation-delay:0s;
  -webkit-animation-delay:0s; /* Safari 和 Chrome */
}


.arrow {
  margin: 50%;
	width: 25px;
	height: 25px;
	background: transparent;
	border-top: 5px solid var(--b3);
	border-right: 5px solid var(--b3);
	box-shadow: 0 0 0 lightgray;
	transition: all 200ms ease;
}
.arrow.left {
  left: 0;
  transform: translate3d(0,-50%,0) rotate(-135deg);
}
.arrow.right {
  right: 0;
  transform: translate3d(0,-50%,0) rotate(45deg);
}
.arrow:hover {
  border-color: var(--b4);
  box-shadow: 0.5vmin -0.5vmin 0 var(--b4);
}
.arrow:hover::before {
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-40%,-60%) rotate(45deg);
  width: 200%;
  height: 200%;
}

.btn-wrapper {
  display: flex;
  margin-top: 2rem;
  margin-left: 50%;
  transform: translate(-50%, -50%);
}
.btn-wrapper a {
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
  border-radius: 0.3rem;
}

.btn-wrapper a span{
  position: relative;
  z-index: 2;
}

.btn-wrapper a::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--b4);
  transition: all .35s;
}

.btn-wrapper a:hover {
  color: white;
  border-color: var(--b4);
  border-radius: 0.3rem;
}

.btn-wrapper a:hover:after{
  width: 100%;
}

.small-circle {
  border-radius:  9999px;
  width: 10px;
  height: 10px;
  background-color: gray;
}

.step-number {
  color: white;
  background-color:rgb(191, 191, 191);
  display: inline-block;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
  font-size: 1rem;
}
.step-number.done {
  background-color: var(--b3)
}
.step-number.selected {
  background-color: var(--b4);
}

.step {
  border-bottom: 5px solid rgb(191, 191, 191);
  border-left: 1px solid #bfbfc0;
  padding: 1rem 0rem 1rem 1rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
.step.selected {
  border-bottom: 5px solid var(--b4);
  font-weight: 700;
}




[class^="keen-slider__slide"],
[class*="keen-slider__slide"] {
  display: flex;
  align-items: center;
  justify-content: center;

  object-fit: cover;
  padding: 1rem;
  border-radius: 0 2rem 0 2rem;
}

.navigation-wrapper {
  position: relative;
}

.c-arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: var(--b3);
  cursor: pointer;
}

.c-arrow--left {
  left: 5px;
}

.c-arrow--right {
  left: auto;
  right: 5px;
}

.c-arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}


.faq-row-wrapper {
  .faq-title {
    font-weight: 500;
  }

  .faq-body {
      .faq-row {
          .row-title {
          }

          .row-content {
              .row-content-text {
              }
          }
      }
  }
}